/* Dropdown container style */
.form-control {
  width: 200px; /* Adjust the width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 14px; /* Matching the button's border-radius */
  box-sizing: border-box;
  position: relative;
  background-color: transparent; /* Set background color to transparent */
  color: #fff; /* Matching the button's text color */
  font-size: 16px; /* Matching the button's font size */
}

/* Dropdown arrow style */
.form-control::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff; /* Matching the button's text color */
}

/* Dropdown option style */
.form-control option {
  padding: 8px;
  background-color: #323232; /* Set background color to transparent */
  font-weight: bold;
}

/* Hover effect on options */
.form-control option:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Matching the button's hover background color */
}