<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
    <link th:href = "@{/css/background-gradient.css}" rel="stylesheet">
    <link th:href = "@{/css/new-table.css}" rel="stylesheet">
    <link th:href = "@{/css/header.css}" rel="stylesheet">
    <link th:href = "@{/css/navigation-bar.css}" rel="stylesheet">
</head>
</head>
<body>

<div class="header">
    <h1>Exchange office</h1>
        <nav>
            <form action="/ron-to-foreign" method="get">
                <button type="submit" class="button button-17">Exchange from: RON &rArr; $ € £ ¥</button>
            </form>
            <form action="/foreign-to-ron" method="get">
                <button type="submit" class="button button-17">Exchange from: $ € £ ¥  &rArr; RON</button>
            </form>
            <form action="/update-database" method="get">
                <button type="submit" class="button button-17">Update database</button>
            </form>
        </nav>
</div>

<hr>

<table class="center" border="1">
    <thead>
    <tr>
        <th>Currency</th>
        <th>ExchangeRate</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="currency : ${currencies}">
        <td th:text="${currency.currencyName + currency.fullName}"></td>
        <td th:text="${currency.exchangeRate}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
