<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foreign to RON exchanger</title>
    <link th:href = "@{/css/calculator-background.css}" rel="stylesheet">
    <link th:href = "@{/css/new-button.css}" rel="stylesheet">
    <link th:href = "@{/css/border.css}" rel="stylesheet">
    <link th:href = "@{/css/form-style.css}" rel="stylesheet">
    <link th:href = "@{/css/form-control.css}" rel="stylesheet">
    <link th:href = "@{/css/result-display.css}" rel="stylesheet">
    <link th:href = "@{/css/arrow.css}" rel="stylesheet">
</head>
<body>
<form action="/foreign-to-ron" method="post">
    <input type="text" id="amount" name="amount" placeholder="Enter amount" required th:maxlength="15" th:min="0.01" class="border">


    <label for="dropDownList"></label>
    <select class="form-control" id="dropDownList" name="currencyOption" required>
        <option value="">Select currency </option>
        <option th:each="currency : ${currencies}" th:value="${currency.currencyName}" th:text="${currency.currencyName + ' ' + currency.fullName}"></option>
    </select>

    <span class="arrow">&rArr;RON</span>

    <form th:action="@{/convert}" method="POST">
        <button type="submit" class="button button-91">Convert</button>
    </form>

    <form>
        <input type="button" value="Homepage" onclick="window.location.href='http://localhost:8080/currency'" class="button button-91">
    </form>

    <div th:if="${error}" class="error-message">
        <p style="color:red; font-size: larger; font-weight: bold;" th:text="${error}"></p>
    </div>

    <div class="result-labels">
        <label th:if="${finalAmount}" th:text="${finalAmount}"></label>
        <label th:if="${finalAmount}">(RON)</label>
    </div>

</form>
</body>
</html>