<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Database</title>
    <link th:href = "@{/css/background-gradient.css}" rel="stylesheet">
    <link th:href = "@{/css/new-button.css}" rel="stylesheet">
    <link th:href = "@{/css/form-style.css}" rel="stylesheet">
    <link th:href = "@{/css/form-control.css}" rel="stylesheet">
    <link th:href = "@{/css/header.css}" rel="stylesheet">
</head>
<body>

<!-- If there is a message, display it in the header -->
<div th:if="${message}" th:text="${message}" class="header"></div>

<!-- Form for updating the database -->
<form action="/update-database" method="post">
<form>
    <!-- Button to return to the homepage -->
    <input type="button" value="Homepage" onclick="window.location.href='http://localhost:8080/currency'" class="button button-91">
</form>

</form>
</body>
</html>