<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Database</title>
    <link th:href = "@{/css/button.css}" rel="stylesheet">
</head>
<body>

<form action="/update-database" method="post">
<form>
    <input type="button" value="Homepage" onclick="window.location.href='http://localhost:8080/currency'" class="button button2">
</form>

    <div th:if="${message}" th:text="${message}" style="color: #008CBA;"></div>

</form>
</body>
</html>